body {
  --hill-width: 40vw;
  --hill-height: 45vh;
  --hill-padding: 5vh;
  --hill-color: #22ff77;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #2277ff 90vh, var(--hill-color) 90vh) no-repeat;
}

body * {
  box-sizing: border-box;
}

#above-fold {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#above-fold > button {
  padding: 12px;
  font-weight: 700;
  color: white;
  background: red;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 6px 0 darkred;
  margin: 0 0 1em 0;
}

#above-fold > button:focus,
#above-fold > button:hover {
  background: #f22;
}

#above-fold > button:active {
  background: #e00;
}


header {
  text-align: center;
  color: white;
  margin: 0em 0;
}

header > h2,
header > h3 {
  text-shadow: 1px 1px 1px black;
}

header > h1 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 1rem 0;
  font-family: Bungee;
  font-size: 2rem;
  text-shadow: 0 5px 0 black;
}

@media (min-width: 770px) {
  header > h1 {
    font-size: calc(100vw / 24);
    font-size: 4rem;
    text-shadow: 0 10px 0 black;
  }
}

#building {
  position: relative;
  z-index: -2;
  margin: 3em 0 0 0;
  min-width: 90px;
  width: 20vw;
  max-width: 125px;
  height: 70px;
  background: gray;
  box-shadow: inset -20px 0 0 gray, /* right leg */
              inset 20px 0 0 gray, /* left leg */
              0 0px 0 gray, /* roof */
              inset 0 20px 0 gray, /* third level */
              inset 0 30px 0 black, /* fourth level */
              inset 0 40px 0 gray, /* fifth level */
              inset 0 50px 0 black, /* fifth level */
              /* shadow */
              10px 0 0 #444,
              10px 0px 0 #444;
}

#building::before {
  background: red;
  content: 'SFU';
  color: white;
  position: relative;
  top: -6px;
  left: 52.5px;
  left: calc(100% - 50px);
  width: 50px;
  height: 70px;
  padding: 5px 5px 0px 5px;
}

#mountain {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-right: 30px solid #0d5;
  border-left: 3px solid #0d5;
  position: relative;
  display: flex;
  z-index: -2;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding-top: var(--hill-padding);
  margin-bottom: 10vh;
  width: 50vw;
  min-width: 320px;
  height: var(--hill-height);
  background: var(--hill-color);
}

.tree {
  --trunk-width: 1vmax;
  --trunk-height: 2vmax;
  --foliage-width: 3vmax;
  --foliage-height: 5vmax;
  flex: 0 0 0;
  margin: var(--foliage-height) var(--foliage-width);
}

.tree:nth-child(odd) {
  margin-top: calc(var(--foliage-height) * 2);
}

.tree::before {
  content: '';
  position: absolute;
  background: brown;
  box-shadow: -3px 0 0 inset #533;
  width: var(--trunk-width);
  height: var(--trunk-height);
}

.tree::after {
  content: '';
  position: absolute;
  width: var(--foliage-width);
  height: var(--foliage-height);
  margin-left: calc(var(--foliage-width)/-2 + var(--trunk-width)/2);
  margin-top: calc(-1*var(--foliage-height));
  clip-path: polygon(50% 0%, 95% 60%, 75% 60%, 100% 100%, 0 100%, 25% 60%, 5% 60%);
  border: 1px solid #060;
  box-shadow: -4px 4px 0 2px inset #060;
  border-top-right-radius: 80%;
  background: green;
}

#clouds-container {
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  margin-top: 8vh;
}

@keyframes cross {
  0% {left: 100%;}
  100% {left: -100%;}
}

.clouds {
  --width: 5vmax;
  --height: calc(var(--width) / 2);
  margin-top: 30vh;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  animation: cross 120s infinite linear;
}

.cloud {
  background: white;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--width) / 3);
  position: relative;
}

.cloud::after {
  content: "";
  position: absolute;
  background: white;
  height: calc(var(--width) / 3);
  width: calc(var(--width) / 3);
  border-radius: 50%;
  top: calc(var(--height) / -5);
  left: calc(var(--height) / 6);
}

.cloud::before {
  content: "";
  position: absolute;
  background: white;
  height: calc(var(--width) / 2);
  width: calc(var(--width) / 2);
  border-radius: 50%;
  top: calc(var(--height) / -2);
  left: calc(var(--width) / 3);
}

.clouds:nth-child(even) {
  --width: 10vmax;
  animation: cross 50s infinite linear;
}

.clouds:nth-child(even) > .cloud:nth-child(odd) {
  top: -20vh;
}


.clouds > .cloud:nth-child(odd) {
  top: -15vh;
}

#info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #000;
}

#info-container > article {
  background: rgba(255, 255, 255, 0.8);
  background: none;
  padding: 1em;
  max-width: 100vw;
  display: none;
}

#info-container > article > div {
  flex: 0 0 auto;
  max-width: 500px;
  margin-left: 2em;
  margin-right: 2em;
}

#info-container > article > h2 {
  text-align: center;
  flex: 10 0 90vw;
}

#faq > h2 {
  width: 100%;
}

#faq > div {
  max-width: 400px;
}

.forest {
  position: absolute;
  display: flex;
  z-index: -1;
  flex-flow: row wrap;
  width: 95vw;
  margin: auto;
  overflow: hidden;
}

.forest > .tree {
  margin-left: auto;
}

#nav-links {
  position: sticky;
  top: calc(100vh - 1em - 2rem);
  left: 0;
  right: 0;
  display: flex;
  z-index: 9999;
  margin: 0 auto;
  width: 320px;
  justify-content: space-around;
  align-items: space-around;
}

#nav-links label {
  position: relative;
  z-index: 99999;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  flex: 1 0 auto;
  background: white;
  color: black;
  text-decoration: none;
  padding: 7px 7px 5px 7px;
  box-shadow: 0 4px 0 grey;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
}

button, #nav-links label {
  transition: box-shadow .2s, color .2s, background .2s, bottom .2s;
}

button:hover, #nav-links label:hover {
  background: red;
  box-shadow: 0 4px 0 darkred;
  color: white;
  position: relative;
  cursor: pointer;
  bottom: 2px;
}

input[type=radio] {
  position:absolute;
  visibility: hidden;
}

#info-container > input[type=radio]:checked + article {
  max-width: 100vw;
  flex: 1 0 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 3rem;
  line-height: 2;
}

#schedule h3 {
  flex: 1 0 100%;
  text-align: center;
}

th {
  text-align: left;
}

td:first-child {
  text-align: right;
  font-weight: 700;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

h2:hover > a {

}

a > img {
  width: 460px;
  height: 230px;
  background: white;
  filter: grayscale(100%);
  opacity: .8;
  transition: opacity .2s, filter .2s;
}

a:hover > img {
  filter: none;
  opacity: 1;
}



